ans1




A database is an organized collection of structured information, or data, typically stored electronically in a computer system. A database is usually controlled by a database management system (DBMS). Together, the data and the DBMS, along with the applications that are associated with them, are referred to as a database system, often shortened to just database



SQL is best suitable for complex queries, multi-row transactions. NoSQL is best suited for unstructured data or documents.

ans2


Data Definition Language(DDL) commands in DBMS are used to define the database objects. We can create, delete and alter tables using DDL commands. Since a database structure is designed by DDL commands, they are called Data Definition Languages (DDLs).

1. Create

This command is used to create a new table in SQL. The user has to give information like table name, column names, and their datatypes

#for Example

CREATE TABLE Student_info
(
College_Id number(2),
College_name varchar(30),
Branch varchar(10)
);

2. Drop

This command is used to remove an existing table along with its structure from the Database.

for example_

DROP TABLE Student_info;

3. Alter


This command is used to add, delete or change columns in the existing table. The user needs to know the existing table name and can do add, delete or modify tasks easily.


ALTER TABLE Student_info
ADD CGPA number;

4. TRUNCATE

This command is used to remove all rows from the table, but the structure of the table still exists.


TRUNCATE TABLE Student_info;

ans3



DML is an abbreviation of Data Manipulation Language. The DML commands
in Structured Query Language change the data present in the SQL database.
We can easily access, store,
modify, update and delete the existing records from the database using DML commands.

1.  INSERT COMMAND

This command is used to enter the information or values into a row. We can connect one or more records to a single table within a repository using this instruction. This is often used to connect an unused tag to the documents.


INSERT INTO students ('stu_id' int, 'stu_name' varchar(20), 'city' varchar(20))

VALUES ('1', 'Nirmit', 'Gorakhpur');

2. UPDATE COMMAND


This command is used to alter existing table records. Within a table, it modifies data from one or more records. This command is used to alter the data which is already present in a table.


UPDATE students

SET due_fees = 20000

WHERE stu_name = 'Mini';

3. DELETE COMMAND


It deletes all archives from a table. This command is used to erase some or all of the previous table’s records. If we do not specify the ‘WHERE’ condition then all the rows would be erased or deleted.


DELETE FROM students

WHERE stu_id = '001';

ans4


DQL statements are used for performing queries on the data within schema objects. The purpose of DQL commands is to get the schema relation based on the query passed to it

1. INSERT


This command is used to get data out of the database. It helps users of the database to access from an operating system, the significant data they need. It sends a track result set from one tables or more.


SELECT * 
FROM students;

ans5

1. PRIMARY KEY

The PRIMARY KEY constraint uniquely identifies each record in a table. Primary keys must contain UNIQUE values, and cannot contain NULL values. A table can have only ONE primary key; and in the table, this primary key can consist of single or multiple columns (fields).


2. FOREIGN KEY

A FOREIGN KEY is a field (or collection of fields) in one table, that refers to the PRIMARY KEY in another table. The table with the foreign key is called the child table, and the table with the primary key is called the referenced or parent table.

In [ ]:
#ans6


import mysql.connector

mydb=mysql.connector.connect(
    host='localhost',
    username='root',
    password='Tejpal@123'

)
cur=mydb.cursor()

A cursor is an object which helps to execute the query and fetch the records from the database. The cursor plays a very important role in executing the query

ans7


Query order of execution
FROM and JOIN s. The FROM clause, and subsequent JOIN s are first executed to determine the total working set of data that is being queries
WHERE.
GROUP BY.
HAVING.
SELECT. 
DISTINCT. 
ORDER BY. 
LIMIT / OFFSET.